<div class="row">
    <div class="col-md-3">
         <div class="d-flex flex-row justify-content-between">
            <img width="60px" height="60px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqBNfW5_2jOyUvGszAxiWYGNzfIyysalFSV9kVbugrwjt5XZpD" class="rounded-circle" alt="Cinque Terre">
            <small class="text-muted mt-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga inventore distinctio omnis eos?
            </small>
         </div>
    </div>

    <div class="col-md-3">
        <div class="d-flex flex-row justify-content-between">
           <img width="60px" height="60px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqBNfW5_2jOyUvGszAxiWYGNzfIyysalFSV9kVbugrwjt5XZpD" class="rounded-circle" alt="Cinque Terre">
           <small class="text-muted mt-2">
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga inventore distinctio omnis eos?
           </small>
        </div>
   </div>

   <div class="col-md-3">
      <div class="d-flex flex-row justify-content-between">
         <img width="60px" height="60px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqBNfW5_2jOyUvGszAxiWYGNzfIyysalFSV9kVbugrwjt5XZpD" class="rounded-circle" alt="Cinque Terre">
         <small class="text-muted mt-2">
             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga inventore distinctio omnis eos?
         </small>
      </div>
 </div>

 <div class="col-md-3">
    <div class="d-flex flex-row justify-content-between">
       <img width="60px" height="60px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqBNfW5_2jOyUvGszAxiWYGNzfIyysalFSV9kVbugrwjt5XZpD" class="rounded-circle" alt="Cinque Terre">
       <small class="text-muted mt-2">
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga inventore distinctio omnis eos?
       </small>
    </div>
</div>
</div>
